<% content_for :head do %>

  <%= javascript_include_tag 'jquery/jquery.js' %>
  <%= javascript_include_tag 'wymeditor/jquery.wymeditor.js' %>


  <script type="text/javascript" charset="utf-8">

    var $j = jQuery.noConflict();
    $j(function() {
      $j('.wymeditor').wymeditor({
        xhtmlParser: 'xhtml_parser.js',
        cssParser:   'wym_css_parser.js',
        stylesheet: '/stylesheets/static.css?v='+Math.random(),
        containersItems: [
          {'name': 'P', 'title': 'Paragraph', 'css': 'wym_containers_p'},
          {'name': 'H1', 'title': 'Heading_1', 'css': 'wym_containers_h1'},
          {'name': 'H2', 'title': 'Heading_2', 'css': 'wym_containers_h2'},
          {'name': 'H3', 'title': 'Heading_3', 'css': 'wym_containers_h3'},
          {'name': 'PRE', 'title': 'Preformatted', 'css': 'wym_containers_pre'},
          {'name': 'BLOCKQUOTE', 'title': 'Blockquote', 'css': 'wym_containers_blockquote'},
        ],
        lang: '<%= I18n.locale.to_s.split("-").first %>'
      });
    });

  </script>
<% end %>

<table class="admin-report" width="545">
  <tr>
    <td valign="top"><%=t("ext_static_content_title")%>:</td>
    <td><%= f.text_field :title, {"style" => "width:500px"} %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_slug")%>:</td>
    <td><%= f.text_field :slug, {"style" => "width:500px"} %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_body")%>:</td>
    <td><%= f.text_area :body, {"style" => "width:500px", "class"=> "wymeditor"} %> </td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_foreign_link")%>:</td>
    <td><%= f.text_field :foreign_link, {"style" => "width:500px"} %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_meta_keywords")%>:</td>
    <td><%= f.text_field :meta_keywords, {"style" => "width:500px"} %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_meta_description")%>:</td>
    <td><%= f.text_field :meta_description, {"style" => "width:500px"} %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_show_in_sidebar")%>:</td>
    <td><%= f.check_box :show_in_sidebar %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_show_in_header")%>:</td>
    <td><%= f.check_box :show_in_header %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_show_in_footer")%>:</td>
    <td><%= f.check_box :show_in_footer %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_position")%>:</td>
    <td><%= f.text_field :position %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_layout")%>:</td>
    <td><%= f.text_field :layout %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_visible")%>:</td>
    <td><%= f.check_box :visible %></td>
  </tr>
</table>
