<h1><%=t("ext_static_content_static_pages") %></h1>

<table class="admin-report" width="545">
	<thead>
		<tr>
      		<th><%=t("title")%></th>
      		<th><%=t("slug")%></th>
      		<th><%=t("action")%></th>
    	</tr>
  	</thead>
	
	<tbody>
    	<% @pages.each do |page| %>
		<tr class="<%= cycle('even', 'odd') %>">
			<td>
				<%= page.title%>
			</td>
			<td>
				<%= page.slug%>
			</td>
			<td>
	          <%=link_to t("Edit"), edit_object_url(page) %> |
	          <%=link_to t("Delete"), object_url(page), :method => :delete %>
	        </td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to t("New Page"), new_object_url %>