<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("ext_static_content_new_page") %></h1>

<%= error_messages_for :page %>

<% form_for(:page, :url => collection_url) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= submit_tag t("create"), {"class" => "wymupdate"}%> <%= t("or") %> <%= link_to t("cancel"), admin_pages_path%>
  </p>
<% end %>