<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("ext_static_content_new_page") %></h1>
<%= render "shared/error_messages", :target => @page %>

<% form_for(:page, :url => collection_url) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p class="form-buttons">
    <%= button t("actions.create"), nil, 'submit' %>
    <%= t("or") %> <%= link_to t("actions.cancel"), collection_url %>
  </p>
<% end %>
