<div class="row">
  <div class="alpha ten columns">
    <%= f.field_container :title do %>
      <%= f.label :title %> <span class="required">*</span><br />
      <%= f.text_field :title, :class => 'fullwidth title' %>
      <%= f.error_message_on :title %>
    <% end %>

    <%= f.field_container :slug do %>
      <%= f.label :slug %> <span class="required">*</span><br />
      <%= f.text_field :slug, :class => 'fullwidth title' %>
      <%= f.error_message_on :slug %>
    <% end %>

    <%= f.field_container :body do %>
      <%= f.label :body %><span class="required">*</span><br />
      <%= f.text_area :body, {:class => 'fullwidth'} %>
      <%= f.error_message_on :body %>
    <% end %>
  </div>
  
  <div class="omega six columns">
    <%= f.field_container :meta_title do %>
      <%= f.label :meta_title %><br />
      <%= f.text_field :meta_title, :class => 'fullwidth title' %>
      <%= f.error_message_on :meta_title %>
    <% end %>

    <%= f.field_container :meta_keywords do %>
      <%= f.label :meta_keywords %><br />
      <%= f.text_field :meta_keywords, :class => 'fullwidth title' %>
      <%= f.error_message_on :meta_keywords %>
    <% end %>

    <%= f.field_container :meta_description do %>
      <%= f.label :meta_description %><br />
      <%= f.text_field :meta_description, :class => 'fullwidth title' %>
      <%= f.error_message_on :meta_description %>
    <% end %>
    
    <%= f.field_container :layout do %>
      <%= f.label :layout %><br />
      <%= f.text_field :layout, :class => 'fullwidth title' %>
    <% end %>

    <%= f.field_container :foreign_link do %>
      <%= f.label :foreign_link %><br />
      <%= f.text_field :foreign_link, :class => 'fullwidth title' %>
    <% end %>

    <%= f.field_container :position do %>
      <%= f.label :position %><br />
      <%= f.number_field :position, :min => 0 %>
    <% end %>

    <ul id="static_page_options">
      <li>
        <%= f.check_box :show_in_sidebar %>
        <%= f.label :show_in_sidebar %>
      </li>
      <li>
        <%= f.check_box :show_in_header %>
        <%= f.label :show_in_header %>
      </li>
      <li>
        <%= f.check_box :show_in_footer %>
        <%= f.label :show_in_footer %>
      </li>
      <li>
        <%= f.check_box :visible %>
        <%= f.label :visible %>
      </li>
      <li>
        <%= f.check_box :render_layout_as_partial %>
        <%= f.label :render_layout_as_partial %>
      </li>
    </ul>

  </div>
</div>