<h1><%= t("static_content.editing_page") %></h1>
<%= render "spree/shared/error_messages", :target => @page %>

<%= form_for [:admin, @page] do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>
