<div class='toolbar'>
  <ul class='actions'>
    <li id="new_product_link">
      <%= button_link_to t("static_content.new_page"), new_object_url, {:icon => 'add'} %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%=t("static_content.static_pages") %></h1>

<table class="index">
	<tr>
		<th><%= Spree::Page.human_attribute_name(:title) %></th>
		<th><%= t("static_content.link") %></th>
		<th><%= Spree::Page.human_attribute_name(:visible) %></th>
		<th><%= t("action") %></th>
  </tr>
	<tbody>
    	<% @pages.each do |page| %>
		<tr class="<%= cycle('even', 'odd') %>" id="<%= dom_id page %>">
			<td>
				<%= page.title %>
			</td>
			<td>
				<%= link_to page.link, page.link %>
			</td>
			<td>
			  <%= icon('tick') if page.visible %>
			</td>
			<td>
        <%= link_to_edit page %> &nbsp;
        <%= link_to_delete page %>
	    </td>
		</tr>
		<% end %>
	</tbody>
</table>
