<% content_for :head do -%>
  <meta name="title" content="<%=@page.title%>">
<% end -%>
<% content_for :sidebar do %>
  <% if "products" == @current_controller && @taxon %>
    <%= render :partial => "shared/filters" %>
  <% else %>
    <%= render :partial => "shared/taxonomies" %>
  <% end %>
<% end %>
<h1><%= @page.title %></h1>
<div id="page_content">
  <%= raw @page.body %>
</div>
